<a href="https://colab.research.google.com/github/cmpm09/Python_Data_Science/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Primer lección: Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

 **`>>> Usa esta celda para mover <<<`**

**Notas**

###Abrir código

---

*   Esc + b = Agrega línea de código abajo
*   Esc + a = Agrega línea de código arriba

### Ejecutar

---

*   Ctrol + Enter
*   Shift + Enter

### Función Imprimir
---

*   print() = Imprime objetos en la pantalla

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print("¡Hola mundo!")

¡Hola mundo!

In [ ]:
15

15

In [ ]:
print('Mi nombre es Cristina y tengo 21 años y estoy aprendiendo sobre la ciencia de datos')

Mi nombre es Cristina y tengo 21 años y estoy aprendiendo sobre la ciencia de datos

## Desafíos
---

1 - Imprime la frase "Escuela de Datos de Alura".

In [ ]:
print('Escuela de Datos de Alura')

Escuela de Datos de Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

In [ ]:
print('Nombre: Cristina')
print('Apellido: Ponce')

Nombre: Cristina
Apellido: Ponce

3 - Imprime tu primer nombre letra por letra.

In [ ]:
print('C')
print('R')
print('I')
print('S')
print('T')
print('I')
print('N')
print('A')

C
R
I
S
T
I
N
A

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas.

In [ ]:
print(31,"octubre",2003)

31 octubre 2003

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico

In [ ]:
print('Año actual:',2025)

Año actual: 2025

# Segunda lección: Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

In [ ]:
5

5

In [ ]:
id(5)

10750984

In [ ]:
id(5)

10750984

In [ ]:
edad = 5

In [ ]:
print(id(edad))
print(id(5))

10750984
10750984

In [ ]:
print(edad)

5

In [ ]:
numerocinco=5

In [ ]:
print(id(numerocinco))

10750984

In [ ]:
nombre='Cristina'

In [ ]:
id('Cristina')

139450444265712

In [ ]:
id(nombre)

139450444265712

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

Notas
### Comentarios en Pythin


---


*   De una línea: se coloca # Antes de cada texto.

*   De varias líneas: deben iniciar y terminar con comillas triples. Ejemplo: """ Hola """ o '''Hola'''

###Otros operadores

---


*   Exponente (^) = **
*   Módulo (Residuo completo de una división)= %
*   División entera = //

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

1. Entera (int)

In [ ]:
edad = 5

In [ ]:
type(edad)

int

2. Float: Almacena números con decimales

In [ ]:
promedio = 9.5

In [ ]:
type(promedio)

float

3. Cadena de caractéres (str)

In [ ]:
nombre="Cristina"

In [ ]:
type(nombre)

str

4. Booleana (bool): verdadero o falso

In [ ]:
v = True

In [ ]:
type(v)

bool

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

 Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

In [ ]:
nombre_estudiante = 'Penélope Camacho'
edad_estudiante = 11
promedio_estudiante = 9.75
aprobado = True

print(nombre_estudiante,edad_estudiante,promedio_estudiante,aprobado)
print(type(nombre_estudiante),type(edad_estudiante),type(promedio_estudiante),type(aprobado))

Penélope Camacho 11 9.75 True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

In [ ]:
c_vigilante = 5
s_vigilante = 300

c_docentes = 16
s_docentes = 500

c_coordinador = 2
s_coordinador = 600

In [ ]:
total_empleados= c_vigilante + c_coordinador + c_docentes
total_empleados

23

In [ ]:
diferencia_salario= s_coordinador- s_vigilante
diferencia_salario

300

In [ ]:
promedio_salarios = (c_vigilante * s_vigilante + c_docentes * s_docentes
                     + c_coordinador * s_coordinador)/total_empleados
promedio_salarios

465.2173913043478

In [ ]:
type(promedio_salarios)

float

## Strings (cadenas de texto)

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

In [ ]:
t='Alura'
type(t)

str

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '
id(texto)

139450444900160

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

In [ ]:
texto.upper()

'  MICAELA DE LOS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

In [ ]:
texto.lower()

'  micaela de los sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

In [ ]:
texto.strip()

'Micaela de los Sanyos'

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

In [ ]:
texto.replace('y','t')

'  Micaela de los Santos '

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

139450444900160

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

In [ ]:
texto

'  Micaela de los Sanyos '

In [ ]:
id(texto)

139450444900160

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

In [ ]:
nuevo_texto = texto.strip().replace('y','t').upper()
print(nuevo_texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
139450444900160 139450429848944

In [ ]:
texto = texto.strip().replace('y','t').upper()
print(texto)
print(id(texto), id(nuevo_texto))

MICAELA DE LOS SANTOS
139450430001504 139450429848944

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

In [ ]:
nombre = input("Escribe tu nombre: ")

Escribe tu nombre: Cristina

###Conversión de valores
Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_adminision = int(input('Digita el año de admisión: '))

Digita el año de admisión: 2025

In [ ]:
type(ano_adminision)

int

In [ ]:
nota_adminision = float(input('Digita la nota de adminisión;  '))

Digita la nota de adminisión;  98.5

In [ ]:
type(nota_adminision)

float

In [ ]:
ano_adminision+nota_adminision

2123.5

### Imprimir texto con variables, sangría y renglón
Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

In [ ]:
print(f'\tEl año de adminisión fue: {ano_adminision}\n\tLa nota de admisión fue: {nota_adminision}')

	El año de adminisión fue: 2025
	La nota de admisión fue: 98.5

## Unicode
Es caso de que se quiera imprimir un caracter de un idioma no común se puede usar su número de carácter unicode, este incluye todo el abecedario en español y de muchos otros idiomas, y se escribe:

chr(número)

## Diversos formatos de print()

###Operador de Formateo
Permite la inserción de variables en puntos específicos en la cadena de texto utilizando el operador %. Este operador funciona como un marcador, indicando dónde se expondrá el valor de la variable en la cadena.

El % debe ir acompañado de una palabra clave para cada tipo de variable que se desee agregar. De acuerdo con el tipo de variable:


*   Cadena de texto = **%s**
*   Entero = **%d**
*   Punto flotanto = **%f**  (agregando un punto y un número intermedio se definen la cantidad de decimales. Ejemplo %.2f = 2 decimales)
*   Caractér = **%c**

En caso de ser *boolean* se debe convertir a *cadena de texto*

Ejemplo:

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

Más de una variable se acomoda al final según como aparezcan en el texto

In [ ]:
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

### Método .format()
Es más flexible y permite pasar las variables directamente dentro de la cadena, sin necesidad de operadores %. Los marcadores son simplemente {}. Por ejemplo:

In [ ]:
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

Más de una variable se acomoda al final según como aparezcan en el texto

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

##Caracteres Especiales: para hacer textos y otro
Se utilizan para representar acciones especiales o caracteres que no se pueden escribir directamente


1.   **\n** es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter").
2.   **\t** es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto.
3. **\\\** se usa para imprimir una sola barra invertida.
4. **\\"** antes y al final se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles " en el interior.
5. **\\'** antes y al final se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples '

Ejemplo por orden:

In [ ]:
print(1)
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

print()
print(2)
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

print()
print(3)
print("Ruta del archivo: C:\\archivos\\documento.csv")

print()
print(4)
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

print()
print(5)
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

1
Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

2
Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

3
Ruta del archivo: C:\archivos\documento.csv

4
Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

5
Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

## Desafíos

### Recopilación y muestra de datos

1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."

In [ ]:
nombre_usuario=input('Escribe tu nombre: ')
print('Hola, {}'.format(nombre_usuario))

Escribe tu nombre: Cris
Hola, Cris

2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."

In [ ]:
nombre_usuario=input('Escribe tu nombre: ')
edad_usuario=input('Escribe tu edad: ')
print('Hola, {}, tienes {} años'.format(nombre_usuario, edad_usuario))

Escribe tu nombre: Cris
Escribe tu edad: 21
Hola, Cris, tienes 21 años

3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."

In [ ]:
nombre_usuario=input('Escribe tu nombre: ')
edad_usuario=input('Escribe tu edad: ')
altura_usuario=input('Escribe tu altura en metros: ')
print('Hola, {}, tienes {} años y mides {} metros'.format(nombre_usuario, edad_usuario,altura_usuario))

Escribe tu nombre: Cris
Escribe tu edad: 21
Escribe tu altura en metros: 1.68
Hola, Cris, tienes 21 años y mides 1.68 metros

###Calculadora con operadores

4 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.

In [ ]:
valor1=int(input('Escribe un número: '))
valor2=int(input('Escribe otro número: '))
suma_valores=valor1+valor2
print('La suma de los valores es: {}'.format(suma_valores))

Escribe un número: 5
Escribe otro número: 10
La suma de los valores es: 15

5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.

In [ ]:
valor1=int(input('Escribe un número: '))
valor2=int(input('Escribe otro número: '))
valor3=int(input('Escribe otro número: '))
suma_valores=valor1+valor2+valor3
print('La suma de los valores es: {}'.format(suma_valores))

Escribe un número: 11
Escribe otro número: 12
Escribe otro número: 50
La suma de los valores es: 73

6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.

In [ ]:
valor1=int(input('Escribe un número: '))
valor2=int(input('Escribe otro número: '))
resta_valores=valor1-valor2
print('La resta de los valores es: {}'.format(resta_valores))

Escribe un número: 10
Escribe otro número: 5
La resta de los valores es: 5

7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores

In [ ]:
valor1=int(input('Escribe un número: '))
valor2=int(input('Escribe otro número: '))
multiplicacion_valores=valor1*valor2
print('La multiplicación de los valores es: {}'.format(multiplicacion_valores))

Escribe un número: 5
Escribe otro número: 10
La multiplicación de los valores es: 50

8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
# prompt: Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

numerador = float(input('Escribe el numerador: '))
denominador = float(input('Escribe el denominador: '))

if denominador == 0:
  print('Error: El denominador no puede ser cero.')
else:
  resultado = numerador / denominador
  print(f'El resultado de la división es: {resultado}')

9 - Crea un programa que solicite dos valores numéricos, un operador y una potencia, y realice la exponenciación entre estos dos valores.

In [ ]:
valor1=int(input('Escribe un número (operador): '))
valor2=int(input('Escribe otro número (potencia): '))
exponente_valores=valor1**valor2
print('La exponenciación de los valores es: {}'.format(exponente_valores))

Escribe un número (operador): 2
Escribe otro número (potencia): 3
La exponenciación de los valores es: 8

10 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entera entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = float(input('Escribe el numerador: '))
denominador = float(input('Escribe el denominador: '))

if denominador == 0:
  print('Error: El denominador no puede ser cero.')
else:
  resultado = numerador // denominador
  print(f'El resultado de la división entera es: {resultado}')

Escribe el numerador: 5
Escribe el denominador: 2
El resultado de la división entera es: 2.0

11 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.

In [ ]:
numerador = float(input('Escribe el numerador: '))
denominador = float(input('Escribe el denominador: '))

if denominador == 0:
  print('Error: El denominador no puede ser cero.')
else:
  resultado = numerador % denominador
  print(f'El resto de la división entera es: {resultado}')

Escribe el numerador: 9
Escribe el denominador: 5
El resto de la división entera es: 4.0

12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.

In [ ]:
nota1=float(input('Escribe la primera nota: '))
nota2=float(input('Escribe la segunda nota: '))
nota3=float(input('Escribe la tercera nota: '))

promedio_estudiante=(nota1+nota2+nota3)/3

print('El promedio de las notas es: %.2f ' %(promedio_estudiante))

Escribe la primera nota: 10
Escribe la segunda nota: 5
Escribe la tercera nota: 7
El promedio de las notas es: 7.33

13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

In [ ]:
# prompt: crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.

numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

suma_productos = sum(num * peso for num, peso in zip(numeros, pesos))
suma_pesos = sum(pesos)

promedio_ponderado = suma_productos / suma_pesos

print(f"El promedio ponderado es: {promedio_ponderado}")

El promedio ponderado es: 14.9

### Editando textos

14 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase en pantalla.

In [ ]:
frase="Ojos que no ven, necesitan lentes"

print(frase)

Ojos que no ven, necesitan lentes

15 - Crea un código que solicite una frase y luego imprima la frase en pantalla.

In [ ]:
frase = input('Escribe una frase: ')

print(frase)

Escribe una frase: Frase
Frase

16 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en mayúsculas.

In [ ]:
frase = input('Escribe una frase: ')

print(frase.upper())

Escribe una frase: hola
HOLA

17 - Crea un código que solicite una frase al usuario y luego imprima la misma frase ingresada pero en minúsculas.

In [ ]:
frase = input('Escribe una frase: ')

print(frase.lower())

Escribe una frase: HOLA
hola

18 - Crea una variable llamada "frase" y asígnale una cadena de texto de tu elección. Luego, imprime la frase sin espacios en blanco al principio y al final.

In [ ]:
frase="   Ojos que no ven, necesitan lentes   "

print(frase.strip())

Ojos que no ven, necesitan lentes

19 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final.

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip())

Escribe una frase:         Arbol que nace feo, feo se queda
Arbol que nace feo, feo se queda

20 - Crea un código que solicite una frase al usuario y luego imprima la misma frase sin espacios en blanco al principio y al final, además de convertirla a minúsculas.

In [ ]:
frase = input('Escribe una frase: ')
print(frase.strip().lower())

Escribe una frase:       Cristina Montserrat Ponce Martínez
cristina montserrat ponce martínez

21 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "e" reemplazadas por la letra "f".

In [ ]:
frase = input('Escribe una frase: ')
print(frase.replace("e","f"))

Escribe una frase: Eres una hermosa persona
Erfs una hfrmosa pfrsona

22 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las vocales "a" reemplazadas por el carácter "@".

In [ ]:
frase = input('Escribe una frase: ')
print(frase.replace("a","@"))

Escribe una frase: Caras vemos, amargadas ya sabemos
C@r@s vemos, @m@rg@d@s y@ s@bemos

23 - Crea un código que solicite una frase al usuario y luego imprima la misma frase con todas las consonantes "s" reemplazadas por el carácter "$".

In [ ]:
frase = input('Escribe una frase: ')
print(frase.replace("s","$"))

Escribe una frase: Estamos sordos
E$tamo$ $ordo$

# Tercera lección: Estructuras condicionales

In [1]:
# Nota de aprobación entre 7 y 10 == nota de aprobación >= 7
# Nota de reprobación es menor a 7 == nota de reprobación < 7

"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [2]:
if 2 > 7:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')
print('Fin de la consulta.')

La condición es falsa.
Fin de la consulta.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [3]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
else:
  print('Reprobó.')

Digita la nota: 10
Aprobó.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [4]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
if 7 > nota >= 5:
  print('Recuperación.')
if nota < 5:
  print('Reprobó.')

Digita la nota: 8
Aprobó.

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [5]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
if 7 > nota >= 5:
  print('Recuperación.')
else:
  print('Reprobó.')

Digita la nota: 8
Aprobó.
Reprobó.

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [6]:
nota = float(input('Digita la nota: '))

if nota >= 7:
  print('Aprobó.')
elif 7 > nota >= 5:
  print('Recuperación.')
else:
  print('Reprobó.')

Digita la nota: 9
Aprobó.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [7]:
v = True
f = False


if f and f:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es falsa.

In [8]:
if v or v:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es verdadera.

In [9]:
if not f:
  print('La condición es verdadera.')
else:
  print('La condición es falsa.')

La condición es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [14]:
lista = 'Juan Pérez, María González, Pedro Rodríguez,Ana López, Carlos Martínez,Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [15]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [16]:
if nombre_2 in lista:
  print('El estudiante aprobó.')
else:
  print('El estudiante reprobó.')

El estudiante reprobó.

### Operadores relacionales
*  Mayor que (>)
*  Menor que (<)
* Mayor o igual a (>=)
* Menor o igual a (<=)
* Igual a (==)
* Diferente de (!=)

# Cuarta lección: Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [17]:
nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
promedio = (nota_1 + nota_2) / 2

print('El promedio del estudiante 1 es: {}'.format(promedio))

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
promedio = (nota_1 + nota_2) / 2

print('El promedio del estudiante 2 es: {}'.format(promedio))

nota_1 = float(input('Digita la primera nota: '))
nota_2 = float(input('Digita la segunda nota: '))
promedio = (nota_1 + nota_2) / 2

print('El promedio del estudiante 3 es: {}'.format(promedio))

Digita la primera nota: 10
Digita la segunda nota: 9
El promedio del estudiante 1 es: 9.5
Digita la primera nota: 8
Digita la segunda nota: 7
El promedio del estudiante 2 es: 7.5
Digita la primera nota: 10
Digita la segunda nota: 8
El promedio del estudiante 3 es: 9.0

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

### Operadores de atribución

* **-=** : Resta un valor de la variable precio
* ***=** : Multiplica un valor por la variable precio
* **/=** : Divide la variable por un valor precio
* **//=** : Realiza una división entera de la variable por un valor precio
* **%=** : Calcula el resto de la división del valor en la variable y asigna el resultado a la variable precio

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [19]:
contador = 1
while contador <=10:
  print(contador)
  ##contador = contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [21]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  promedio = (nota_1 + nota_2) / 2

  print('El promedio del estudiante {} es: {}'.format(contador, promedio))
  contador +=1

Digita la primera nota: 10
Digita la segunda nota: 8
El promedio del estudiante 1 es: 9.0
Digita la primera nota: 5
Digita la segunda nota: 99
El promedio del estudiante 2 es: 52.0
Digita la primera nota: 10
Digita la segunda nota: 7
El promedio del estudiante 3 es: 8.5

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [26]:
for n in range(1,11,1):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [27]:
for n in range(1,4,2):
  print(n)

1
3

In [30]:
for e in range(1,4,1):
  nota_1 = float(input('Digita la primera nota: '))
  nota_2 = float(input('Digita la segunda nota: '))
  promedio = (nota_1 + nota_2) / 2
  print('El promedio del estudiante {} es: {}'.format(e, promedio))

Digita la primera nota: 10
Digita la segunda nota: 4
El promedio del estudiante 1 es: 7.0
Digita la primera nota: 5
Digita la segunda nota: 6
El promedio del estudiante 2 es: 5.5
Digita la primera nota: 10
Digita la segunda nota: 8
El promedio del estudiante 3 es: 9.0

##Comandos de control: continue y break

* **continue:** Interrumpe la iteración actual del bucle y salta a la siguiente, es decir, regresa al inicio del código.
* **break:** ddetiene por completo la ejecución del bucle, saliendo del bloque de código.

##Desafíos

###Entrenando la programación
1 - Escribe un programa que solicite dos números enteros e imprima todos los números enteros entre ellos.

In [33]:
numero1= int(input('Ingrese el primer número: '))
numero2= int(input('Ingrese el segundo número: '))

for n in range(numero1,numero2+1):
  print(n)

Ingrese el primer número: 63
Ingrese el segundo número: 67
63
64
65
66
67

2 - Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.

In [35]:
coloniaA = 4
coloniaB = 10
dias = 0

while coloniaA <= coloniaB:
  coloniaA = coloniaA + coloniaA * 1.03
  coloniaB = coloniaB + coloniaB * 1.015
  dias += 1

print('Tomo {} días' .format(dias))

Tomo 124 días

3 - Para procesar una cantidad de 15 datos de evaluaciones de usuarios de un servicio de la empresa, necesitamos verificar si las calificaciones son válidas. Por lo tanto, escribe un programa que recibirá calificaciones del 0 al 5 y verificará si son valores válidos. Si se ingresa una calificación superior a 5 o inferior a 0, se repetirá hasta que el usuario ingrese un valor válido.

In [16]:
for n in range(1, 16):
  while True:
    evaluacion = int(input('Introduce la evaluación: '))
    if 0 <= evaluacion <= 5:
      print('La evaluación {} es válida'.format(evaluacion))
      break
    else:
      print('La evaluación {} es inválida'.format(evaluacion))

Introduce la evaluación: 10
La evaluación 10 es inválida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 2
La evaluación 2 es válida
Introduce la evaluación: 3
La evaluación 3 es válida
Introduce la evaluación: 4
La evaluación 4 es válida
Introduce la evaluación: 8
La evaluación 8 es inválida
Introduce la evaluación: 2
La evaluación 2 es válida
Introduce la evaluación: 6
La evaluación 6 es inválida
Introduce la evaluación: 4
La evaluación 4 es válida
Introduce la evaluación: 2
La evaluación 2 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 5
La evaluación 5 es válida
Introduce la evaluación: 2
La evaluación 2 es válida
Introduce la evaluación: 1
La evaluación 1 es válida

4 - Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

In [ ]:
# prompt: Desarrolla un programa que lea un conjunto indefinido de temperaturas en grados Celsius y calcule su promedio. La lectura debe detenerse al ingresar el valor -273°C.

temperaturas = []
temperatura = 0

while temperatura != -273:
  temperatura = float(input("Ingrese una temperatura en grados Celsius (-273 para finalizar): "))
  if temperatura != -273:
    temperaturas.append(temperatura)

if temperaturas:
  promedio = sum(temperaturas) / len(temperaturas)
  print(f"El promedio de las temperaturas ingresadas es: {promedio:.2f} °C")
else:
  print("No se ingresaron temperaturas válidas.")

5 - Escribe un programa que calcule el factorial de un número entero proporcionado por el usuario. Recuerda que el factorial de un número entero es el producto de ese número por todos sus antecesores hasta llegar al número 1. Por ejemplo, el factorial de 5 es 5 x 4 x 3 x 2 x 1 = 120.

In [25]:
numero = int(input("Ingrese un número entero: "))
numero_original = numero
factorial = 1

while numero > 0:
  factorial = factorial * numero
  numero = numero-1

print('El factorial de {} es: {}' .format(numero_original, factorial))

Ingrese un número entero: 5
El factorial de 5 es: 120


###Momento de los proyectos

6 - Escribe un programa que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario.

In [27]:
 tabla = int(input('Número de la tabla'))

 for i in range(1,11):
   print(tabla, 'x', i, '=', tabla*i)

Número de la tabla5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

7 - Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

In [ ]:
# prompt: Los números primos tienen diversas aplicaciones en Ciencia de Datos, como en criptografía y seguridad. Un número primo es aquel que es divisible solo por sí mismo y por 1. Por lo tanto, crea un programa que solicite un número entero y determine si es un número primo o no.

def es_primo(numero):
  """
  Verifica si un número es primo.

  Args:
    numero: El número entero a verificar.

  Returns:
    True si el número es primo, False en caso contrario.
  """
  if numero <= 1:
    return False
  for i in range(2, int(numero**0.5) + 1):
    if numero % i == 0:
      return False
  return True

numero = int(input("Ingrese un número entero: "))

if es_primo(numero):
  print(f"{numero} es un número primo.")
else:
  print(f"{numero} no es un número primo.")

8 - Vamos a comprender la distribución de edades de los pensionistas de una empresa de seguros. Escribe un programa que lea las edades de una cantidad no informada de clientes y muestre la distribución en los intervalos [0-25], [26-50], [51-75] y [76-100]. La entrada de datos se detendrá al ingresar un número negativo.

In [46]:

intervalo1 = 0
intervalo2 = 0
intervalo3 = 0
intervalo4 = 0

edad = 0

while edad >= 0:
  edad = int(input("Ingrese la edad del cliente (-1 para finalizar): "))

  if edad >= 0:
    if edad >= 0 and edad <= 25:
      intervalo1 += 1
    elif edad >= 26 and edad <= 50:
      intervalo2 += 1
    elif edad >= 51 and edad <= 75:
      intervalo3 += 1
    elif edad >= 76 and edad <= 100:
      intervalo4 += 1

print("Distribución de edades:")
print("[0-25]:", intervalo1)
print("[26-50]:", intervalo2)
print("[51-75]:", intervalo3)
print("[76-100]:", intervalo4)

Ingrese la edad del cliente (-1 para finalizar): 5
Ingrese la edad del cliente (-1 para finalizar): 10
Ingrese la edad del cliente (-1 para finalizar): 80
Ingrese la edad del cliente (-1 para finalizar): 50
Ingrese la edad del cliente (-1 para finalizar): -1
Distribución de edades:
[0-25]: 2
[26-50]: 1
[51-75]: 0
[76-100]: 1

9 - En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:

Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).

También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).

Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

In [ ]:
# prompt: En una elección para la gerencia de una empresa con 20 empleados, hay cuatro candidatos. Escribe un programa que calcule al ganador de la elección. La votación se realizó de la siguiente manera:
# Cada empleado votó por uno de los cuatro candidatos (representados por los números 1, 2, 3 y 4).
# También se contaron los votos nulos (representados por el número 5) y los votos en blanco (representados por el número 6).
# Al final de la votación, el programa debe mostrar el número total de votos para cada candidato, los votos nulos y los votos en blanco. Además, debe calcular y mostrar el porcentaje de votos nulos con respecto al total de votos y el porcentaje de votos en blanco con respecto al total de votos.

votos_candidato = [0] * 4  # Inicializa una lista para almacenar los votos de cada candidato
votos_nulos = 0
votos_blancos = 0

for i in range(20):
    while True:
        try:
            voto = int(input(f"Voto del empleado {i+1} (1-4 para candidato, 5 para nulo, 6 para blanco): "))
            if 1 <= voto <= 6:
                break
            else:
                print("Voto inválido. Ingrese un número del 1 al 6.")
        except ValueError:
            print("Entrada inválida. Ingrese un número entero.")

    if 1 <= voto <= 4:
        votos_candidato[voto - 1] += 1
    elif voto == 5:
        votos_nulos += 1
    else:
        votos_blancos += 1

# Mostrar resultados
print("\nResultados de la elección:")
for i in range(4):
    print(f"Candidato {i+1}: {votos_candidato[i]} votos")

print(f"Votos nulos: {votos_nulos}")
print(f"Votos en blanco: {votos_blancos}")

total_votos = sum(votos_candidato) + votos_nulos + votos_blancos
porcentaje_nulos = (votos_nulos / total_votos) * 100
porcentaje_blancos = (votos_blancos / total_votos) * 100

print(f"Porcentaje de votos nulos: {porcentaje_nulos:.2f}%")
print(f"Porcentaje de votos en blanco: {porcentaje_blancos:.2f}%")

# Determinar al ganador
ganador = votos_candidato.index(max(votos_candidato)) + 1
print(f"\nEl candidato ganador es el candidato {ganador} con {max(votos_candidato)} votos.")

# Quinta lección: Listas

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [4]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [5]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [6]:
lista[0]

'Penélope Camacho'

In [7]:
type(lista[0])

str

In [8]:
type(lista[1])

float

In [9]:
type(lista[-5])

str

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [10]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [11]:
lista[2]=10

In [12]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [13]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

###Cadena a lista

Mediante el método split(). Este método divide la cadena en una lista de cadenas, utilizando un delimitador especificado entre paréntesis. Este delimitador debe ser una cadena.

Como ejemplo, convirtamos la cadena en una lista dividiéndola cada vez que aparezca el signo de interrogación "?":

In [14]:
pregunta = '¿Quién vino primero? ¿El huevo? ¿O fue la serpiente?'
lista_palabras = pregunta.split()
print(lista_palabras)

['¿Quién', 'vino', 'primero?', '¿El', 'huevo?', '¿O', 'fue', 'la', 'serpiente?']

El delimitador no aparece en la separación. Si no se define un delimitador, la cadena se separará por todos los espacios en blanco en el texto.

### Lista a cadena
Mediante el método join(). Para usar esta función, debemos definir el carácter que se utilizará para unir los elementos de la lista y formar la cadena. Luego, usamos el método { join() pasando la lista como argumento.

Veamos un ejemplo con una lista que contiene el resultado de algunas mezclas de colores primarios en pintura:

In [15]:
mezclas = ['Pinturas: rojo, azul y amarillo',
            'Verde: mezcla de azul y amarillo',
            'Naranja: mezcla de rojo y amarillo',
            'Morado: mezcla de rojo y azul']
unificador = '. '
cadena_mezclas = unificador.join(mezclas)
print(cadena_mezclas)

Pinturas: rojo, azul y amarillo. Verde: mezcla de azul y amarillo. Naranja: mezcla de rojo y amarillo. Morado: mezcla de rojo y azul

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [16]:
len(lista)

5

#### Partición: agarrar un conjunto de la lista

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [21]:
lista[0:2]

['Penélope Camacho', 9.5]

In [23]:
lista[:3]

['Penélope Camacho', 9.5, 10]

In [24]:
lista[3:]

[9.7, True]

In [25]:
lista[:]

['Penélope Camacho', 9.5, 10, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item) Añade elementos

Añade un elemento al final de la lista.

In [26]:
lista.append(promedio)

In [27]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable)) Añade varios elementos

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [28]:
lista.extend([10.0,8.0,9.0])

In [29]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [30]:
lista.append([10.0,8.0,9.0])

In [31]:
lista

['Penélope Camacho',
 9.5,
 10,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first) Remueve un elemento

Remueve un elemento específico de la lista.

In [32]:
lista.remove([10.0, 8.0, 9.0])

In [33]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

####insert() Insertar un elemento en una posición específica

La sintaxis es lista.insert(indice, elemento), donde "lista" es la lista que recibirá el nuevo elemento, "indice" es la posición donde se insertará el nuevo elemento y "elemento" es el nuevo elemento que se insertará.

In [35]:
razas_de_perros = ['Labrador Retriever',
                   'Bulldog Francés',
                   'Pastor Alemán',
                   'Poodle']

In [36]:
razas_de_perros.insert(1, 'Golden Retriever')
razas_de_perros

['Labrador Retriever',
 'Golden Retriever',
 'Bulldog Francés',
 'Pastor Alemán',
 'Poodle']

Siguiendo este enfoque, la estructura lista.insert(len(lista), elemento) es equivalente al uso del método append()

#### index() devuelve el índice de un elemento específico en la lista

Para hacerlo, especificamos el elemento entre paréntesis. Para encontrar el índice de la raza "Pastor Alemán" en la lista, hacemos lo siguiente:

In [38]:
razas_de_perros.index('Pastor Alemán')

2

####pop() elimina el elemento en una posición específica

Solo necesitamos especificar, entre paréntesis, el índice del elemento que deseamos eliminar, y se eliminará de la lista. Por lo tanto, eliminemos la raza "Golden Retriever" que agregamos en el método anterior.

In [37]:
razas_de_perros.pop(1)

'Golden Retriever'

#### sort() ordena los elementos de la lista en orden ascendente o descendente

Si son palabras, el orden se basa en el orden alfabético o en el orden inverso. Para ordenar los valores, simplemente llamamos al método sort(), y la lista se organizará en orden. Para ordenar alfabéticamente la lista de razas de perros, podemos usar el siguiente código:

In [39]:
razas_de_perros.sort()
razas_de_perros

['Bulldog Francés', 'Labrador Retriever', 'Pastor Alemán', 'Poodle']

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [40]:
diccionario = {'llave_1':1,
               'llave_2':2}

diccionario

{'llave_1': 1, 'llave_2': 2}

In [41]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [45]:
estudiante = {
              'matrícula': 2000168933,
              'día de registro': 25,
              'mes de registro': 10,
              'grupo': '2E'
              }
estudiante

{'matrícula': 2000168933,
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E'}

In [47]:
estudiante['matrícula']

2000168933

In [48]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [49]:
estudiante['matrícula']= '2G'

In [50]:
estudiante['matrícula']

'2G'

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [51]:
estudiante['modalidad']='EAD'

In [52]:
estudiante

{'matrícula': '2G',
 'día de registro': 25,
 'mes de registro': 10,
 'grupo': '2E',
 'modalidad': 'EAD'}

In [53]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html) Remueve un item
Remueve un item de un diccionario y lo representa en la salida.

In [54]:
estudiante.pop('grupo')

'2E'

In [55]:
estudiante

{'matrícula': '2G',
 'día de registro': 25,
 'mes de registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html) retorna un lista de pares
Retorna una lista de pares `llave-valor` del diccionario.

In [56]:
estudiante.items()

dict_items([('matrícula', '2G'), ('día de registro', 25), ('mes de registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html) da las llaves
Retorna una lista de las llaves del diccionario.

In [57]:
estudiante.keys()

dict_keys(['matrícula', 'día de registro', 'mes de registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html) da los valores
Retorna una lista de los valores del diccionario.

In [58]:
estudiante.values()

dict_values(['2G', 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [59]:
for llave in estudiante.keys():
  print(llave)

matrícula
día de registro
mes de registro
modalidad

In [60]:
for llave,valor in estudiante.items():
  print(llave, '-->', valor)

matrícula --> 2G
día de registro --> 25
mes de registro --> 10
modalidad --> EAD

##Listas en diccionarios

Podemos asociar estructuras de datos a otras estructuras de datos, como ocurre cuando tenemos listas dentro de diccionarios. En este caso, las listas pueden ser almacenadas en los valores de un diccionario de tal manera que cada clave puede tener una lista asociada a ella. Esto es útil cuando necesitamos almacenar varios valores relacionados con una sola clave. Por ejemplo, podemos construir un conjunto de datos de una tienda que contenga una clave con los nombres de cada producto y otra clave con los precios correspondientes, como se muestra en el código a continuación:

In [61]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

Para acceder a los valores, podemos utilizar una estructura de bucles for:

In [62]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500

El primer bucle, el más externo, recorre los elementos dentro del diccionario (claves y elementos). Sabiendo que los elementos son listas, podemos acceder a los datos de las listas con otro bucle anidado que se encuentra dentro del primer bucle. El bucle más interno recorre los elementos de cada lista uno a uno e imprime los valores dentro de ellas.

Además, podemos realizar operaciones comunes en las listas, como agregar, eliminar o contar elementos en la lista asociada a una clave del diccionario. Puedes copiar los códigos anteriores y ejecutarlos en Colab para verificar la salida.

# Funciones incorporadas en Python

##sum()

La función sum() permite sumar los elementos de una secuencia o estructura de datos. En el siguiente ejemplo, vamos a sumar los precios de productos:

In [63]:
precios = [100.0, 400.0, 200.0]
suma = sum(precios)
suma

700.0

##help() documentación de funciones
Se utiliza para acceder a la documentación de funciones, métodos y otros elementos de Python. Muestra información en inglés sobre la funcionalidad, sintaxis y uso de un objeto específico. Para usar esta función, simplemente pasa el elemento deseado entre paréntesis. Por ejemplo, vamos a verificar la documentación de la función print():

In [64]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

##dir()  mostrar una lista de atributos y métodos asociados a un elemento

In [65]:
lista = [1,2,3]
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Es útil conocer varias funciones incorporadas y cómo funcionan, ya que ayudan mucho en la creación de código. Para obtener más información sobre las funciones, puedes consultar la documentación de Python.

## Desafios

###Entrenando la programación

1 - Crea un programa que tenga la siguiente lista con los gastos de una empresa de papel [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]. Con estos valores, crea un programa que calcule el promedio de gastos. Sugerencia: usa las funciones integradas sum() y len().

In [1]:
list_gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

In [4]:
suma_gastos = sum(list_gastos)
suma_gastos

cantidad_gastos = len(list_gastos)
cantidad_gastos

promedio_gastos = suma_gastos / cantidad_gastos
promedio_gastos

print('La suma de los gastos es {}, entre la cantidad de gastos ({}), da un promedio de {}'.format(suma_gastos, cantidad_gastos, promedio_gastos))

La suma de los gastos es 31442.22, entre la cantidad de gastos (10), da un promedio de 3144.222

2 - Con los mismos datos de la pregunta anterior, determina cuántas compras se realizaron por encima de 3000 reales y calcula el porcentaje con respecto al total de compras.

In [9]:
contador = 0
for i in list_gastos:
  if i > 3000:
    contador += 1

print(contador)

7

3 - Crea un código que recoja en una lista 5 números enteros aleatorios e imprima la lista. Ejemplo: [1, 4, 7, 2, 4].

In [15]:
numeros = [1,2,3,4,5,6,7,8,9,10]
import random
lista_aleatoria = random.sample(numeros, 5)
print(lista_aleatoria)

[7, 6, 1, 8, 9]

4 - Recoge nuevamente 5 números enteros e imprime la lista en orden inverso al enviado.

In [17]:
numeros = [1,2,3,4,5,6,7,8,9,10]
import random
lista_aleatoria = random.sample(numeros, 5)
print(lista_aleatoria)

lista_aleatoria.reverse()
print(lista_aleatoria)

[6, 10, 1, 4, 7]
[7, 4, 1, 10, 6]

5 - Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

In [ ]:
# prompt: Crea un programa que, al ingresar un número cualquiera, genere una lista que contenga todos los números primos entre 1 y el número ingresado.

def es_primo(numero):
  """
  Verifica si un número es primo.

  Args:
    numero: El número entero a verificar.

  Returns:
    True si el número es primo, False en caso contrario.
  """
  if numero <= 1:
    return False
  for i in range(2, int(numero**0.5) + 1):
    if numero % i == 0:
      return False
  return True

def primos_hasta_n(n):
  """
  Genera una lista de números primos hasta n.

  Args:
    n: El límite superior del rango.

  Returns:
    Una lista de números primos.
  """
  primos = []
  for i in range(2, n + 1):
    if es_primo(i):
      primos.append(i)
  return primos

numero = int(input("Ingrese un número entero: "))
lista_primos = primos_hasta_n(numero)
print(f"Los números primos entre 1 y {numero} son: {lista_primos}")

6 - Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

In [ ]:
# prompt: Escribe un programa que pida una fecha, especificando el día, mes y año, y determine si es válida para su análisis.

def es_fecha_valida(dia, mes, año):
    """
    Verifica si una fecha es válida.

    Args:
        dia: El día de la fecha.
        mes: El mes de la fecha.
        año: El año de la fecha.

    Returns:
        True si la fecha es válida, False en caso contrario.
    """

    if not isinstance(dia, int) or not isinstance(mes, int) or not isinstance(año, int):
      return False

    if año < 0:
        return False  # Año no puede ser negativo

    if mes < 1 or mes > 12:
        return False  # Mes inválido

    dias_por_mes = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if año % 4 == 0 and (año % 100 != 0 or año % 400 == 0):
        dias_por_mes[2] = 29  # Año bisiesto

    if dia < 1 or dia > dias_por_mes[mes]:
        return False  # Día inválido para el mes y año

    return True

# Obtener la fecha del usuario
dia = int(input("Ingrese el día: "))
mes = int(input("Ingrese el mes: "))
año = int(input("Ingrese el año: "))

# Verificar si la fecha es válida
if es_fecha_valida(dia, mes, año):
    print("La fecha es válida.")
else:
    print("La fecha no es válida.")

###Momento para los proyectos

7 - Para un estudio sobre la multiplicación de bacterias en una colonia, se recopiló el número de bacterias multiplicadas por día y se puede observar a continuación: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Con estos valores, crea un código que genere una lista que contenga el porcentaje de crecimiento de bacterias por día, comparando el número de bacterias en cada día con el número de bacterias del día anterior. Sugerencia: para calcular el porcentaje de crecimiento, utiliza la siguiente ecuación: 100 * (muestra_actual - muestra_anterior) / muestra_anterior.

In [32]:
multipli_bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]

for indice, valor in enumerate(multipli_bacterias):
  if indice == 0:
    continue
  else:
    porcentaje_crecimiento = 100 * (valor - multipli_bacterias[indice - 1]) / multipli_bacterias[indice - 1]
    print(porcentaje_crecimiento)

75.00000000000001
57.142857142857125
51.51515151515153
56.0
44.87179487179489
46.90265486725664
51.20481927710843
50.59760956175297
50.52910052910054

8 - Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

In [35]:
# prompt: Para una selección de productos alimenticios, debemos separar el conjunto de IDs proporcionados por números enteros, sabiendo que los productos con ID par son dulces y los que tienen ID impar son amargos. Crea un código que recoja 10 IDs. Luego, calcula y muestra la cantidad de productos dulces y amargos.

import random

def clasificar_productos(ids):
  """Clasifica productos por ID par (dulces) o impar (amargos).

  Args:
    ids: Una lista de IDs de productos.

  Returns:
    Un diccionario con la cantidad de productos dulces y amargos.
  """
  dulces = 0
  amargos = 0
  for id_producto in ids:
    if id_producto % 2 == 0:
      dulces += 1
    else:
      amargos += 1
  return {"dulces": dulces, "amargos": amargos}

# Generar 10 IDs aleatorios
ids_productos = random.sample(range(1, 101), 10)  # IDs entre 1 y 100

# Clasificar los productos
clasificacion = clasificar_productos(ids_productos)

# Mostrar los resultados
print("IDs de productos:", ids_productos)
print("Cantidad de productos dulces:", clasificacion["dulces"])
print("Cantidad de productos amargos:", clasificacion["amargos"])

IDs de productos: [23, 31, 1, 30, 20, 18, 79, 68, 41, 81]
Cantidad de productos dulces: 4
Cantidad de productos amargos: 6

9 - Desarrolla un programa que informe la puntuación de un estudiante de acuerdo con sus respuestas. Debe pedir la respuesta del estudiante para cada pregunta y verificar si la respuesta coincide con el resultado. Cada pregunta vale un punto y hay opciones A, B, C o D.

In [ ]:
Resultado del examen:
01 - D
02 - A
03 - C
04 - B
05 - A
06 - D
07 - C
08 - C
09 - A
10 - B

In [39]:
respuestas_correctas = {1:"D", 2:"A", 3:"C", 4:"B", 5:"A", 6:"D", 7:"C", 8:"C", 9:"A", 10:"B"}

resultado = 0

for pregunta, respuesta_correcta in respuestas_correctas.items():
  respuesta_estudiante = input("Pregunta {}: Ingresa tu respuesta (A, B, C o D): ".format(pregunta)).upper()
  if respuesta_estudiante == respuesta_correcta:
    resultado += 1

print("Puntuación final: {}/10".format(resultado))

Pregunta 1: Ingresa tu respuesta (A, B, C o D): A
Pregunta 2: Ingresa tu respuesta (A, B, C o D): B
Pregunta 3: Ingresa tu respuesta (A, B, C o D): C
Pregunta 4: Ingresa tu respuesta (A, B, C o D): D
Pregunta 5: Ingresa tu respuesta (A, B, C o D): A
Pregunta 6: Ingresa tu respuesta (A, B, C o D): B
Pregunta 7: Ingresa tu respuesta (A, B, C o D): C
Pregunta 8: Ingresa tu respuesta (A, B, C o D): D
Pregunta 9: Ingresa tu respuesta (A, B, C o D): A
Pregunta 10: Ingresa tu respuesta (A, B, C o D): B
Puntuación final: 5/10

10 - Un instituto de meteorología desea realizar un estudio de la temperatura media de cada mes del año. Para ello, debes crear un código que recoja y almacene esas temperaturas medias en una lista. Luego, calcula el promedio anual de las temperaturas y muestra todas las temperaturas por encima del promedio anual y en qué mes ocurrieron, mostrando los meses por su nombre (Enero, Febrero, etc.).

In [44]:
Meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
suma_tempe = 0
Tempera_medias = {}

for numero, mes in enumerate(Meses):
  temperatura = float(input("Ingrese la temperatura media de {}: ".format(mes)))
  suma_tempe =+ temperatura
  Tempera_medias[mes]=temperatura


for numero,mes in Tempera_medias.items():
  print(numero, '-->', mes)

print('La temperatura media anual fue {}'.format(suma_tempe/len(Meses)))

Ingrese la temperatura media de Enero: 1
Ingrese la temperatura media de Febrero: 2
Ingrese la temperatura media de Marzo: 3
Ingrese la temperatura media de Abril: 4
Ingrese la temperatura media de Mayo: 5
Ingrese la temperatura media de Junio: 6
Ingrese la temperatura media de Julio: 7
Ingrese la temperatura media de Agosto: 8
Ingrese la temperatura media de Septiembre: 9
Ingrese la temperatura media de Octubre: 10
Ingrese la temperatura media de Noviembre: 11
Ingrese la temperatura media de Diciembre: 12
Enero --> 1.0
Febrero --> 2.0
Marzo --> 3.0
Abril --> 4.0
Mayo --> 5.0
Junio --> 6.0
Julio --> 7.0
Agosto --> 8.0
Septiembre --> 9.0
Octubre --> 10.0
Noviembre --> 11.0
Diciembre --> 12.0
La temperatura media anual es 1.0

11 - Una empresa de comercio electrónico está interesada en analizar las ventas de sus productos. Los datos de ventas se han almacenado en un diccionario:

In [46]:
ventas = {'Producto A': 300, 'Producto B': 80, 'Producto C': 60, 'Producto D': 200, 'Producto E': 250, 'Producto F': 30}

Escribe un código que calcule el total de ventas y el producto más vendido.

In [56]:
total_ventas = sum(ventas.values())

producto_mas_vendido = max(ventas, key=ventas.get)

print("Total de ventas: {}". format(total_ventas))
print("Producto más vendido:{}".format(producto_mas_vendido))

Total de ventas: 920
Producto más vendido:Producto A

12 - Se realizó una encuesta de mercado para decidir cuál diseño de marca infantil es más atractivo para los niños. Los votos de la encuesta se pueden ver a continuación:

In [ ]:
Tabla de votos de la marca
Diseño 1 - 1334 votos
Diseño 2 - 982 votos
Diseño 3 - 1751 votos
Diseño 4 - 210 votos
Diseño 5 - 1811 votos

Adapta los datos proporcionados a una estructura de diccionario. A partir de ello, informa el diseño ganador y el porcentaje de votos recibidos.

In [57]:
votos = {
    'Diseño 1': 1334,
    'Diseño 2': 982,
    'Diseño 3': 1751,
    'Diseño 4': 210,
    'Diseño 5': 1811
}

total_votos = sum(votos.values())
diseno_ganador = max(votos, key=votos.get)
porcentaje_ganador = (votos[diseno_ganador] / total_votos) * 100

print(f"El diseño ganador es: {diseno_ganador}")
print(f"Porcentaje de votos recibidos: {porcentaje_ganador:.2f}%")

El diseño ganador es: Diseño 5
Porcentaje de votos recibidos: 29.75%

13 - Los empleados de un departamento de tu empresa recibirán una bonificación del 10% de su salario debido a un excelente rendimiento del equipo. El departamento de finanzas ha solicitado tu ayuda para verificar las consecuencias financieras de esta bonificación en los recursos. Se te ha enviado una lista con los salarios que recibirán la bonificación: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. La bonificación de cada empleado no puede ser inferior a 200. En el código, convierte cada uno de los salarios en claves de un diccionario y la bonificación de cada salario en el valor correspondiente. Luego, informa el gasto total en bonificaciones, cuántos empleados recibieron la bonificación mínima y cuál fue el valor más alto de la bonificación proporcionada.

In [60]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
bonificaciones = {}
minima_bonificacion = 200
empleados_minima_bonificacion = 0
gasto_total = 0
mayor_bonificacion = 0

for salario in salarios:
  bonificacion = salario * 0.1
  if bonificacion < minima_bonificacion:
    bonificacion = minima_bonificacion
    empleados_minima_bonificacion += 1
  bonificaciones[salario] = bonificacion
  gasto_total += bonificacion
  if bonificacion > mayor_bonificacion:
    mayor_bonificacion = bonificacion

print("Gasto total en bonificaciones:", gasto_total)
print("Número de empleados con bonificación mínima:", empleados_minima_bonificacion)
print("Mayor bonificación otorgada:", mayor_bonificacion)

Gasto total en bonificaciones: 6087.8
Número de empleados con bonificación mínima: 2
Mayor bonificación otorgada: 790.3000000000001

14 - Un equipo de científicos de datos está estudiando la diversidad biológica en un bosque. El equipo recopiló información sobre el número de especies de plantas y animales en cada área del bosque y almacenó estos datos en un diccionario. En él, la clave describe el área de los datos y los valores en las listas corresponden a las especies de plantas y animales en esas áreas, respectivamente.

In [ ]:
{'Área Norte': [2819, 7236], 'Área Leste': [1440, 9492], 'Área Sul': [5969, 7496], 'Área Oeste': [14446, 49688], 'Área Centro': [22558, 45148]}

Escribe un código para calcular el promedio de especies por área e identificar el área con la mayor diversidad biológica. Sugerencia: utiliza las funciones incorporadas sum() y len().

In [59]:
datos_bosque = {
    'Área Norte': [2819, 7236],
    'Área Leste': [1440, 9492],
    'Área Sul': [5969, 7496],
    'Área Oeste': [14446, 49688],
    'Área Centro': [22558, 45148]
}

promedio_especies = {}
mayor_diversidad = 0
area_mayor_diversidad = ""

for area, especies in datos_bosque.items():
  total_especies = sum(especies)
  promedio = total_especies / len(especies)
  promedio_especies[area] = promedio

  if total_especies > mayor_diversidad:
    mayor_diversidad = total_especies
    area_mayor_diversidad = area

print("Promedio de especies por área:")
for area, promedio in promedio_especies.items():
  print(f"{area}: {promedio:.2f}")

print(f"\nÁrea con mayor diversidad biológica: {area_mayor_diversidad} ({mayor_diversidad} especies)")

Promedio de especies por área:
Área Norte: 5027.50
Área Leste: 5466.00
Área Sul: 6732.50
Área Oeste: 32067.00
Área Centro: 33853.00

Área con mayor diversidad biológica: Área Centro (67706 especies)

15 - El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos:

In [ ]:
{'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

In [61]:
# prompt: El departamento de Recursos Humanos de tu empresa te pidió ayuda para analizar las edades de los colaboradores de 4 sectores de la empresa. Para ello, te proporcionaron los siguientes datos: {'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
#  'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
#  'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
#  'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Dado que cada sector tiene 10 colaboradores, construye un código que calcule la media de edad de cada sector, la edad media general entre todos los sectores y cuántas personas están por encima de la edad media general.

edades_sectores = {
    'Sector A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
    'Sector B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
    'Sector C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
    'Sector D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]
}

media_sectores = {}
total_edades = 0
total_colaboradores = 0

for sector, edades in edades_sectores.items():
    media_sectores[sector] = sum(edades) / len(edades)
    total_edades += sum(edades)
    total_colaboradores += len(edades)

media_general = total_edades / total_colaboradores
colaboradores_arriba_media = 0

for edades in edades_sectores.values():
    for edad in edades:
        if edad > media_general:
            colaboradores_arriba_media += 1

print("Media de edades por sector:")
for sector, media in media_sectores.items():
    print(f"{sector}: {media:.2f}")

print(f"\nMedia general de edades: {media_general:.2f}")
print(f"\nNúmero de colaboradores por encima de la media general: {colaboradores_arriba_media}")

Media de edades por sector:
Sector A: 39.90
Sector B: 42.30
Sector C: 35.80
Sector D: 36.50

Media general de edades: 38.62

Número de colaboradores por encima de la media general: 18